* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    ;
    background-color: rgb(85, 105, 196);
    color: white;
   
}

.library {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    
}

.banner {
    display: flex;
    justify-content: center;
}

.addBook {
    margin: 1.3rem;
    background-color: rgb(146, 146, 187);
    padding: 20px;
    color: white;
    cursor: pointer;
    border: none;
}

.container {
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
 
}

.con1 {
    display: grid;
    
    grid-template-columns: 1fr ;
    grid-template-rows: auto;
}



.newCard {
    margin: 1.3rem;
    padding: 5px;
    
    
}

.bookTitle {
    font-weight: bold;
}

.bookAuthor {

    font-weight: initial;
    font-size: small;
}

.bookPages {
    font-size: small;
}

.bookYear {
    font-size: smaller;
}

.formContainer {

    margin: 1.3rem;
    grid-column-start: 3;
    grid-row-start: 1;

}

input, label {
    display:block;

   
}

input {
    
border: 1px solid;
background-color:  rgb(146, 146, 187);
 color: white;

}

.submit {
    margin-top: 1.3rem;
    background-color: rgb(146, 146, 187);
    padding: 10px;
    color: white;
    cursor: pointer;
    border: none;
}

.bookPages::before {

    content: 'Pages: '

}

.bookYear::before {
    content: 'Published: '
}